.app {
  height: 100%;
}

main {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  width: 60px;
  height: auto;
}
.inline-block {
  display: inline-block;
}
.left-sidebar {
  padding: 32px 16px;
}
.left-sidebar .row {
  margin: 0;
}
.app-card-wrapper {
  display: flex;
  align-items: center;
  padding: 16px 0 32px;
}
.app-card-wrapper-img {
  flex-grow: 1;
}
.app-card-wrapper-h1 {
  flex-grow: 5;
}
.app-card-wrapper-h1 h1 {
  font-size: 1.6rem;
}
